services:
  app:
    build:
      context: .
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    develop:
      watch:
        - path: package.json
          action: rebuild
        - path: next.config.ts
          action: rebuild
        - path: prisma/schema.prisma
          action: rebuild
        - path: .
          target: /app
          action: sync
          ignore:
            - node_modules/
            - .next/
